
/* Main CSS Begins */

/* :fonts */
*{
    --left-panel-width: 25vw;
    font-family: Arial, Helvetica, sans-serif;
    --gray-1: rgb(188, 188, 188);
    --gray-2: rgb(113, 113, 113);
    --gray-3: rgb(92, 92, 92);
}

@font-face {
    font-family: odin;
    src: url(Norse-Bold.otf);
}




.container{
width: 100vw;
height: 100vh;
color:black;
}

.container{
    display:flex
}

.background{
    position:relative;
    z-index: -2;
    /* width:calc(var(--left-panel-width)) */
}



/* plant */
.plant{
    width: var(--left-panel-width);
    height:100%;
    z-index: -1;
}

img.odin{
    z-index: 1;
    width:100px;
    length: 200px;

    /* width: 1em;
    height:1em; */
}

.logo{
    position:absolute;
    width: 396px;
    height: 200px;
    display:flex;
    align-items: center;
    justify-content: center;
    
    top:250px;
    padding: 15px 0 15px 0;
 
    width: var(--left-panel-width);
    background-color:rgba(0, 0, 0, 0.4);

}


span.odin-span{
    font-family: odin;
    color: white;

    font-size: 75px ;

}

p{
    font-size: 19px;
}

.left{

}

.right{
    flex: 1;
    display:flex;
    flex-direction: column;
    background-color: var(--gray-2);

}


/* TODO: add style for pseudo elements  */
input:focus{}


input:invalid{
    border: 1px solid red;
}


input:required{
    border: 1px solid red;
}


ul{
    display:flex;
    flex-wrap: wrap;
    min-width: 625px;
}
/* FIXME: add minimum column size to forms */
li{
    list-style: none;
    margin: 15px;
    flex: 1 1 45%;
    display:flex;
    flex-direction:column;
    text-transform: uppercase;
}
/* TODO: style fields */
/* TODO: think about making field width dynamic */
/* TODO:overflow what to do */
input{
    margin-top: 2px;
    width: 250px
}



fieldset{
    margin:0px;
    border: none;
}

.top{
    background-color: var(--gray-1);
    padding-left:58px;
    font-weight: 600;
}
.middle{
    background-color: var(--gray-3);
    padding-bottom: 20px;
}
.bottom{
    background-color: var(--gray-2);
    padding: 20px 0 10px 66px;

}
.submit-button{
    margin: 20px 0 10px 66px;
    padding:10px 50px;
    border-radius: 10px;
    background-color: #596d48;
    border: none;
    color:white;
    font-weight: 800;
}

