
/* Main CSS Begins */

*{
    --left-panel-width: 30vw;
}

@font-face {
    font-family: odin;
    src: url(Norse-Bold.otf);
}



  body span{
    font-size: 75px ;
  }

body, .container{
width: 100vw;
height: 100vh;

}

.background{
    position:relative;
    z-index: -2;
    width:calc(var(--left-panel-width) + 5vw)
}



/* plant */
.plant{
    width: var(--left-panel-width);
    z-index: -1;
}

img.odin{
    z-index: 1;
    width:100px;
    length: 200px;

    /* width: 1em;
    height:1em; */
}

.logo{
    position:relative;
    width: 30vw;
    length: 200px;
    display:flex;
    align-items: center;
    top:450px;
    padding: 15px 0 15px 0;
}

.form{
    background-color: gray;
}

span.odin-span{
    font-family: odin;
    color: white;

}

div.logo{
    background-color:rgba(0, 0, 0, 0.4);
    position:relative;
    display:flex;
    justify-content: center;
}